.fixed-nav-bar {
    color: white;
    font-weight: bold;
    padding-bottom: 100px;
    
  }

.fixed-nav-bar-item {
    background-color: #343a40;
    border: none;
    color: white;
    text-align: center;
    transition: 0.5s;
    border-radius: 8px;
}

.fixed-nav-bar-item:hover {
    background-color: #145a3f;
    text-shadow: 2px 3px black;
    border-radius: 20px;
}

.fixed-nav-bar-item-selected {
    background-color: #145a3f;
}

.Industry-Information-Container {
    background-color: #343a40;
    border-radius: 8px;
}

.Information-Container-Header {
    color: white;
    font-weight: bold;
}

.Information-Container-Para {
    color: white;
}

.industry-card{
    background-color: #343a40;
    transition: 0.3s;
    margin-right: 2px;
    margin-left: 2px;

}
.industry-card:hover{
    background-color: #145a3f;
    border-color: #343a40;
}
.industry-card-desc{
    height: 100px;
    width: 200px;
    color: rgb(202, 202, 202);
    
}
.card-title{
    color: whitesmoke;
}

/* COUNTRY CREATION PAGE */

.country-creator-container {
    background-color: #343a40;
    border-radius: 8px;
    padding-bottom: 8px;
}

.country-creator-title{
    color: whitesmoke;
    text-align: center;
}

.country-creator-selector{
    color: #9a9b9c;
    padding-bottom: 8px;
}

.country-selector-col{
    background-color: #676a6d;
    border: none;
    color: white;
    text-align: center;
    transition: 0.5s;
    border-radius: 8px;
    margin-bottom: 20px;
}

.country-selector-col-selected{
    background-color: #145a3f;
}

.country-selector-col:hover {
    background-color: #145a3f;
    text-shadow: 2px 3px black;
    border-radius: 20px;
}

.country-selected-container {
    color: whitesmoke;
    text-align: center;
}

.country-info-container {
    color: whitesmoke;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }